{
  "tabWidth": 2,
  "disableLanguages": ["html"],
  "useTabs": false,
  "singleQuote": false,
  "overrides": [
    {
      "files": "*.js",
      "options": {
        "tabWidth": 2,
        "singleQuote": true,
        "quoteProps": "as-needed"
      }
    },
    {
      "files": "*.pug",
      "options": {
        "singleQuote": false,
        "parser": "html",
        "attributeSeparator": "always"
      }
    }
  ]
}
