.bestsellers {
  background-color: #ffffff;
}

.bestsellers__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 85.66%;
  max-width: 1435px;
  padding: 0 7% 40px;
  margin: 0 auto;
}

.bestsellers__title {
  @include title;

  margin: 0;
}

.bestsellers__link {
  @include roboto-r;

  position: relative;

  padding-bottom: 11px;
  margin-left: auto;
  margin-bottom: 22.5px;

  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: $grey-dark;

  outline: none;
  transition: $trans;

  &::before {
    position: absolute;
    content: "";
    bottom: 0;
    left: 50%;

    display: block;
    width: 90%;
    height: 1px;
    background-color: $gold;

    transform: translateX(-50%);
    transition: $trans;
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.bestsellers__inner {
  width: 100%;

  &--top {
    margin-bottom: 40px;

    & .bestsellers__item {
      min-height: 351px;
      width: 48.29%;
      padding-left: 3.41%;
    }

    & .bestsellers__item-title {
      margin: 40px auto 10px 0;
    }

    & .bestsellers__media-wrap {
      right: 15%;

      width: 313px;
      height: 313px;
    }

    & .bestsellers__price {
      margin-bottom: 200px;
    }
  }

  &--bottom {
    margin-bottom: 54px;
  }
}

.bestsellers__list {
  @include list-reset;

  display: flex;
  flex-wrap: wrap;
}

.bestsellers__item {
  position: relative;

  width: 48.3%;
  max-width: 750px;
  min-height: 220px;
  margin-right: 3.4%;
  padding-left: 3.41%;

  box-sizing: border-box;

  background-color: $light-beige;

  &:last-of-type {
    margin-right: 0;
  }
}

.bestsellers__item-title {
  margin: 40px auto 10px 0;
  padding-right: 70%;
}

.bestsellers__brand-link {
  @include playfair-b;

  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: $pale-black;

  outline: none;

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.bestsellers__price {
  @include prata;

  margin: 0 0 87px 0;

  font-size: 14px;
  line-height: 22px;

  color: $pale-black;
}

.bestsellers__details-link {
  @include playfair-r;

  position: relative;

  display: inline-block;

  padding-left: 8.49%;
  margin-left: auto;

  font-size: 16px;
  line-height: 21px;

  color: $black;

  outline: none;

  &::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 0;

    width: 21.42%;
    height: 1px;

    background-color: $gold;
    transform: translateY(-50%);
  }

  &:hover,
  &:focus {
    opacity: 0.7;
  }

  &:active {
    opacity: 0.5;
  }
}

.bestsellers__media-wrap {
  position: absolute;
  top: 50%;
  right: 20%;

  display: inline-block;
  width: 225px;
  height: 226px;

  transform: translateY(-50%);
  transition: $trans;
  cursor: pointer;

  &::before {
    @include center;

    z-index: -1;

    width: 100%;
    height: 100%;
    overflow: visible;

    background-image: url("../img/svg/ellipse.svg");
    background-position: center center;
    background-size: contain;
    background-repeat: no-repeat;

    transition: opacity 0.25s ease-in-out;
  }

  &:hover,
  &:focus {
    & .bestsellers__image {
      transform: translate(-50%, -50%) scale(1.05);
    }

    &::before {
      background-image: url("../img/svg/ellipse-filled.svg");
      background-position: 100% center;
      background-size: contain;
      background-repeat: no-repeat;
    }
  }

  &:active {
    opacity: 0.5;

    & .bestsellers__image {
      transform: translate(-50%, -50%) scale(1.05);
    }
  }
}

.bestsellers__image {
  @include center;
  content: unset;

  transition: all 0.15s linear;
}

// ! Планшетная версия

@media (max-width: $tablet-width) {
  .bestsellers__wrap {
    width: 88%;
    padding-left: 6%;
    padding-right: 6%;
  }

  .bestsellers__link {
    font-size: 14px;
    line-height: 15px;
  }

  .bestsellers__inner {
    &--top {
      margin-bottom: 30px;

      & .bestsellers__item {
        min-height: 220px;
      }

      & .bestsellers__media-wrap {
        right: 5%;

        width: 225px;
        height: 226px;
      }

      .bestsellers__price {
        margin-bottom: 87px;

        font-size: 12px;
      }
    }

    &--bottom {
      margin-bottom: 44px;
    }
  }

  .bestsellers__brand-link {
    font-size: 12px;
    line-height: 20px;
  }

  .bestsellers__price {
    font-size: 12px;

    line-height: 14px;
  }

  .bestsellers__media-wrap {
    right: 5%;
  }

  .bestsellers__details-link {
    font-size: 14px;
    line-height: 18px;
  }
}

// ! Мобильная версия

@media (max-width: $mobile-width) {
  .bestsellers__wrap {
    width: 100%;
    padding-left: 4.78%;
    padding-right: 4.78%;
    box-sizing: border-box;
  }

  .bestsellers__title {
    margin-bottom: 35px;
  }

  .bestsellers__link {
    font-size: 12px;
    line-height: 16px;
  }

  .bestsellers__inner {
    &--top {
      & .bestsellers__item {
        display: flex;
        flex-direction: column;
      }

      & .bestsellers__media-wrap {
        @include center;

        width: 160px;
        height: 160px;
      }

      & .bestsellers__image {
        width: 100%;
        height: 100%;

        object-fit: contain;
      }

      .bestsellers__item-title {
        margin: 0 auto 10px 0;
      }

      .bestsellers__price {
        margin-bottom: 155px;
      }

      .bestsellers__details-link {
        padding-left: 20.49%;
      }
    }
  }

  .bestsellers__item {
    display: flex;
    flex-direction: column;
  }

  .bestsellers__media-wrap {
    @include center;
    width: 160px;
    height: 160px;
  }

  .bestsellers__image {
    width: 100%;
    height: 100%;

    object-fit: contain;
  }

  .bestsellers__item-title {
    margin: 0 auto 10px 0;
  }

  .bestsellers__price {
    margin-bottom: 155px;
  }

  .bestsellers__details-link {
    padding-left: 20.49%;
  }
}

@media (max-width: 650px) {
  .bestsellers__inner {
    &--top {
      & .bestsellers__media-wrap {
        width: 140px;
        height: 140px;
      }
    }
  }

  .bestsellers__media-wrap {
    width: 140px;
    height: 140px;
  }
}
