.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  width: 100%;
  max-width: 1250px;
  margin: 0 auto;
}

.card__wrap {
  width: 50%;
}

.card__slider {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;

  width: 100%;
  margin: 0;
  box-sizing: border-box;
}

.card__container {
  width: 76%;
  max-width: 425px;
  height: 480px;
}

.card__control {
  @include btn-reset;

  position: relative;
  z-index: 15;

  width: 12px;
  height: 24px;

  &::before,
  &::after {
    position: absolute;
    content: "";
    top: 50%;

    width: 14px;
    height: 1px;
    background-color: $black;

    transform: translateY(-50%);
  }

  &--prev {
    &::before {
      left: 0;
      transform: rotate(-45deg);
      transform-origin: left;
    }

    &::after {
      left: 0;
      transform: rotate(45deg);
      transform-origin: left;
    }
  }

  &--next {
    &::before {
      right: 0;
      transform: rotate(45deg);
      transform-origin: right;
    }

    &::after {
      right: 0;
      transform: rotate(-45deg);
      transform-origin: right;
    }
  }

  &--disabled {
    &::before,
    &::after {
      background-color: $grey-light;
    }
  }

  &:hover,
  &:focus {
    &::before,
    &::after {
      background-color: $gold;
    }
  }
}

.card__list {
  @include list-reset;
}

.card__link {
  display: inline-block;

  width: 100%;
  height: 100%;

  outline: none;

  &:hover,
  &:focus {
    & .card__image {
      transform: translate(-50%, -50%) scale(1.05);

      opacity: 0.7;
    }
  }
}

.card__media-wrap {
  position: relative;

  display: inline-block;
  width: 100%;
  height: 100%;
}

.card__image {
  position: absolute;

  top: 50%;
  left: 50%;

  object-fit: contain;
  transition: scale $fast-animation linear, opacity $fast-animation linear;
  transform: translate(-50%, -50%);
}

.card__content {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 50%;
  padding: 2% 2% 100px;
  box-sizing: border-box;
}

.card__header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;

  width: 86%;
  padding-bottom: 50px;
  max-width: 465px;
}

.card__title {
  margin: 0 0 20px 0;

  font-size: 24px;
  font-weight: bold;
  line-height: 37px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.card__price {
  margin: 0;

  font-size: 24px;
  line-height: 28px;

  color: #686868;
}

.card__inner {
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  width: 86%;
  max-width: 465px;
}

.card__tabs {
  flex-grow: 1;

  width: 100%;
}

.card__tab-link {
  font-size: 16px;
  line-height: 24px;
}

.card__like-btn {
  @include btn-reset;

  margin-right: 16px;

  transition: fill $fast-animation linear;

  &:focus,
  &:hover {
    fill: #d75a4a;
    background-image: url("data:image/svg+xml,%3Csvg width='18' height='16' viewBox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.94618 2.82644C9.67267 1.16278 11.3323 0.000347801 13.2627 0.000347801C15.863 0.000347801 17.7358 2.14957 17.9712 4.71096C17.9712 4.71096 18.0983 5.34678 17.8186 6.49148C17.4377 8.05044 16.5423 9.43548 15.3352 10.4925L8.94618 16L2.66477 10.4922C1.45767 9.43548 0.562332 8.05009 0.181444 6.49113C-0.0982812 5.34644 0.0288014 4.71061 0.0288014 4.71061C0.264246 2.14922 2.137 0 4.73734 0C6.66805 0 8.21968 1.16278 8.94618 2.82644Z' fill='%23D75A4A'/%3E%3C/svg%3E%0A");
    background-position: 0 0;
    background-repeat: no-repeat;
  }
}

.card__specs {
  display: flex;
  flex-wrap: wrap;

  margin: 0;
}

.card__term,
.card__desc {
  margin: 0;
  width: 50%;
}

.card__about {
  margin-bottom: 35px;
}

.card__to-cart-btn {
  align-self: flex-start;
}

.card__pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card__bullet {
  @include btn-reset;

  position: relative;

  width: 22%;
  height: 127px;

  background-color: none;
}

.card__bullet-media {
  @include center;

  display: inline-block;

  width: 100%;
  height: 100%;

  & img {
    display: inline-block;

    width: 100%;
    height: 100%;
  }
}

@media (max-width: $tablet-width) {
  .card__container {
    height: 336px;
  }

  .card__title {
    font-size: 22px;
    line-height: 32px;
  }

  .card__price {
    font-size: 22px;
    line-height: 32px;
  }

  .card__content {
    padding-bottom: 50px;
  }
}

@media (max-width: $mobile-width) {
  .card {
    flex-direction: column;
  }

  .card__wrap {
    width: 100%;
    padding-bottom: 30px;
  }

  .card__container {
    height: 300px;
  }

  .card__header,
  .card__inner {
    width: 100%;
  }

  .card__bullet {
    height: 80px;
  }

  .card__content {
    width: 100%;
  }

  .card__header {
    padding-bottom: 20px;
  }

  .card__title {
    margin-bottom: 15px;
  }

  .card__price {
    font-size: 18px;
    line-height: 24px;
  }

  .card__tab-link {
    font-size: 14px;
    line-height: 18px;
  }
}
