.catalog {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &--additional {
    width: 91%;
    overflow: hidden;

    & .catalog__list {
      display: flex;
    }

    & .catalog__item {
      min-height: 375px;
    }

    & .catalog__title {
      width: auto;
    }
  }
}

.catalog__heading {
  @include playfair-r;
  margin: 0 0 50px;

  font-size: var(--titleSize);
  line-height: var(--titleHeight);
}

.catalog__sort {
  position: relative;
  z-index: 3;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 30px;

  font-size: var(--subTitleSize);
  line-height: var(--subTitleHeight);
}

.catalog__select {
  display: inline-block;

  min-width: 110px;
  margin-left: 8px;
}

.catalog__subtitle {
  color: $grey-pale;

  display: inline-block;
}

.catalog__list {
  @include list-reset;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  row-gap: 40px;
  column-gap: 5%;

  width: 100%;
}

.catalog__item {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  min-height: 300px;
}

.catalog__title {
  position: relative;
  z-index: 1;

  width: 60px;
  padding: 20px 0 20px 8%;
  margin-right: auto;
}

.catalog__brand {
  display: inline-block;

  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: $grey-dark;
  text-transform: uppercase;

  transition: all $fast-animation linear;

  &:focus,
  &:hover {
    color: $gold;
  }

  &:active {
    color: $gold;
    opacity: 0.7;
  }
}

.catalog__price {
  font-size: var(--subTitleSize);
  line-height: var(--subTitleHeight);
  color: #636261;
}

.catalog__controls {
  position: relative;
  z-index: 1;

  width: 56px;
  padding: 20px 8%;
}

.catalog__toggle {
  padding: 0;
  margin-right: 16px;
  border: none;
  box-sizing: content-box;

  font: inherit;
  color: inherit;

  cursor: pointer;
  outline: none;

  &:nth-child(2n) {
    margin-right: 0;
  }
}

.catalog__link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  display: inline-block;

  width: 100%;
  height: 100%;

  background-color: #fdfdfb;

  &:hover,
  &:focus {
    & .catalog__image {
      transform: translate(-50%, -50%) scale(1.05);

      opacity: 0.7;
    }
  }
}

.catalog__media-wrap {
  position: relative;

  display: inline-block;

  width: 100%;
  height: 100%;
}

.catalog__image {
  position: absolute;
  top: 50%;
  left: 50%;

  display: inline-block;
  height: auto;
  object-fit: contain;

  transform: translate(-50%, -50%);
  transition: transform $fast-animation linear, opacity $fast-animation linear;
}

// ! Планшетная версия

@media (max-width: $tablet-width) {
  .catalog {
    &--additional {
      & .catalog__item {
        min-height: 330px;
      }
    }
  }

  .catalog__list {
    row-gap: 30px;
  }

  .catalog__item {
    min-height: 210px;
  }

  .catalog__title {
    width: 50px;
    padding: 15px 5%;
  }

  .catalog__heading {
    margin-bottom: 30px;
  }

  .catalog__brand {
    font-size: 12px;
    line-height: 18px;
  }

  .catalog__price {
    font-size: 12px;
    line-height: 18px;
  }

  .catalog__controls {
    width: 27%;
  }

  .catalog__toggle {
    margin-right: 22%;
  }

  .catalog__subtitle {
    font-size: 12px;
  }

  .catalog__select {
    font-size: 12px;
  }
}

@media (max-width: 880px) {
  .catalog__list {
    row-gap: 20px;
  }

  .catalog__item {
    padding-top: 10px;
  }

  .catalog__title {
    padding-top: 0;
  }

  .catalog__controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 30%;
    max-width: 70px;
    padding-top: 0;
  }

  .catalog__toggle {
    margin-right: 0;
  }
}

// ! Мобильная версия
@media (max-width: $mobile-width) {
  .catalog__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .catalog__price {
    margin: 5px 0;
  }
}

@media (max-width: 450px) {
  .catalog__controls {
    width: 35%;
  }
}
