.catalog {
  display: flex;
  flex-direction: column;
  align-items: flex-end;

  &--additional {
    width: 91%;
    overflow: hidden;

    & .catalog__list {
      display: flex;
    }

    & .catalog__item {
      min-height: 375px;
    }

    & .catalog__title {
      width: auto;
    }
  }
}

.catalog__heading {
  @include playfair-r;
  margin: 0 0 50px;

  font-size: var(--titleSize);
  line-height: var(--titleHeight);
}

.catalog__sort {
  position: relative;
  z-index: 3;

  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 30px;

  font-size: var(--subTitleSize);
  line-height: var(--subTitleHeight);
}

.catalog__select {
  display: inline-block;

  min-width: 110px;
  margin-left: 8px;
}

.catalog__subtitle {
  color: $grey-pale;

  display: inline-block;
}

.catalog__list {
  @include list-reset;

  display: grid;
  grid-template-columns: repeat(3, 1fr);

  row-gap: 40px;
  column-gap: 5%;

  width: 100%;
}

.catalog__item {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;

  min-height: 300px;
}

.catalog__title {
  position: relative;
  z-index: 1;

  width: 60px;
  padding: 20px 0 20px 8%;
  margin-right: auto;
}

.catalog__brand {
  display: inline-block;

  font-size: 14px;
  font-weight: 600;
  line-height: 21px;
  letter-spacing: 0.05em;
  color: $grey-dark;
  text-transform: uppercase;

  transition: all $fast-animation linear;

  &:focus,
  &:hover {
    color: $gold;
  }

  &:active {
    color: $gold;
    opacity: 0.7;
  }
}

.catalog__price {
  font-size: var(--subTitleSize);
  line-height: var(--subTitleHeight);
  color: #636261;
}

.catalog__controls {
  position: relative;
  z-index: 1;

  width: 56px;
  padding: 20px 8%;
}

.catalog__toggle {
  @include btn-reset;

  margin-right: 16px;

  transition: fill $fast-animation linear;

  &:nth-child(2n) {
    margin-right: 0;
  }

  &:focus,
  &:hover {
    fill: $gold;
  }

  &--like {
    &:focus,
    &:hover {
      fill: #d75a4a;
      background-image: url("data:image/svg+xml,%3Csvg width='18' height='16' viewBox='0 0 18 16' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M8.94618 2.82644C9.67267 1.16278 11.3323 0.000347801 13.2627 0.000347801C15.863 0.000347801 17.7358 2.14957 17.9712 4.71096C17.9712 4.71096 18.0983 5.34678 17.8186 6.49148C17.4377 8.05044 16.5423 9.43548 15.3352 10.4925L8.94618 16L2.66477 10.4922C1.45767 9.43548 0.562332 8.05009 0.181444 6.49113C-0.0982812 5.34644 0.0288014 4.71061 0.0288014 4.71061C0.264246 2.14922 2.137 0 4.73734 0C6.66805 0 8.21968 1.16278 8.94618 2.82644Z' fill='%23D75A4A'/%3E%3C/svg%3E%0A");
      background-position: 0 0;
      background-repeat: no-repeat;
    }
  }
}

.catalog__link {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;

  display: inline-block;

  width: 100%;
  height: 100%;

  background-color: #fdfdfb;

  &:hover,
  &:focus {
    & .catalog__image {
      transform: translate(-50%, -50%) scale(1.05);

      opacity: 0.7;
    }
  }
}

.catalog__media-wrap {
  position: relative;

  display: inline-block;

  width: 100%;
  height: 100%;
}

.catalog__image {
  position: absolute;
  top: 50%;
  left: 50%;

  display: block;

  object-fit: contain;

  transform: translate(-50%, -50%);
  transition: transform $fast-animation linear, opacity $fast-animation linear;
}

// ! Планшетная версия

@media (max-width: $tablet-width) {
  .catalog {
    &--additional {
      & .catalog__item {
        min-height: 330px;
      }
    }
  }

  .catalog__list {
    row-gap: 30px;
  }

  .catalog__item {
    min-height: 210px;
  }

  .catalog__title {
    width: 50px;
    padding: 15px 5%;
  }

  .catalog__brand {
    font-size: 12px;
    line-height: 18px;
  }

  .catalog__price {
    font-size: 12px;
    line-height: 18px;
  }

  .catalog__controls {
    width: 27%;
  }

  .catalog__toggle {
    margin-right: 22%;
  }

  .catalog__subtitle {
    font-size: 12px;
  }

  .catalog__select {
    font-size: 12px;
  }
}

@media (max-width: 880px) {
  .catalog__list {
    row-gap: 20px;
  }

  .catalog__item {
    padding-top: 10px;
  }

  .catalog__title {
    padding-top: 0;
  }

  .catalog__controls {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 30%;
    max-width: 70px;
    padding-top: 0;
  }

  .catalog__toggle {
    margin-right: 0;
  }
}

// ! Мобильная версия
@media (max-width: $mobile-width) {
  .catalog__list {
    grid-template-columns: repeat(2, 1fr);
  }

  .catalog__price {
    margin: 5px 0;
  }
}

@media (max-width: 450px) {
  .catalog__controls {
    width: 35%;
  }
}
