.socials__list {
  @include list-reset;
}

.socials__item {
  margin-bottom: 13px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.socials__link {
  display: inline-block;
  width: 18px;
  height: 18px;

  text-align: center;

  outline: none;
}

.socials__icon {
  display: inline-block;
  vertical-align: middle;

  fill: $grey-dark;

  transition: $trans;

  &:hover {
    fill-opacity: 0.7;
  }
}
