.container {
  padding: 0 2%;
  margin: 0 auto;

  &--main {
    width: 92%;
    // max-width: 1258px;
  }

  &--catalog {
    width: 84.77%;
    // max-width: 1158px;
  }
}

@media (max-width: $tablet-width) {
  .container {
    &--main {
      width: 88.28%;
    }

    &--catalog {
      width: 88.28%;
    }
  }
}

@media (max-width: $mobile-width) {
  .container {
    &--main {
      box-sizing: border-box;
      padding: 0 4.78%;
      margin: 0;
      width: 100%;
    }

    &--catalog {
      width: 90.625%;
    }
  }
}
