.overlay {
  position: fixed;
  content: "";
  top: 50%;
  left: 50%;
  z-index: 20;

  display: none;

  width: 100vw;
  height: 100vh;

  background-color: $light-beige;

  transform: translate(-50%, -50%);

  &--shown {
    display: block;
  }
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 30;

  display: none;

  opacity: 0;

  transform: translate(-50%, -50%);

  transition: all 0.25s;

  &--active {
    display: block;

    opacity: 1;
  }
}
