.burger {
  @include btn-reset;

  position: relative;
  z-index: 15;

  font: inherit;
  color: inherit;
  text-transform: none;

  cursor: pointer;
  transition-duration: 0.075s;
  transition-timing-function: ease-in-out;
  overflow: visible;

  & span {
    position: absolute;
    top: 50%;
    margin-top: -1px;
    display: block;
    width: 100%;
    height: 1px;

    background-color: $black;

    transition-property: transform;
    transition-duration: 0.075s;
    transition-timing-function: ease-in-out;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";

    display: block;
    width: 100%;
    height: 1px;

    background-color: $black;

    transition-property: transform;
    transition-duration: 0.075s;
    transition-timing-function: ease-in-out;
  }

  &::before {
    top: 0;
    transition: top 0.075s ease-in-out, opacity 0.075s ease-in-out;
  }

  &::after {
    bottom: 0;
    transition: bottom 0.075s ease-in-out, opacity 0.075s ease-in-out;
  }

  &:hover,
  &:focus {
    & span {
      background-color: $silver;
    }

    &::before,
    &::after {
      background-color: $silver;
    }
  }

  &:active {
    & span {
      background-color: $silver;
      opacity: 0.3;
    }

    &::before,
    &::after {
      background-color: $silver;
      opacity: 0.3;
    }

    &::before {
      top: 50%;

      transform: translateY(-50%);
    }

    &::after {
      bottom: 50%;

      margin: 1px;
    }
  }

  &--active {
    & span {
      transform: rotate(45deg);
      transform-origin: center;
    }

    &::before {
      top: 50%;
      margin: -1px;

      transform: rotate(-45deg);
      transform-origin: center;
    }

    &::after {
      bottom: 50%;
      margin: 1px;
      opacity: 0;
    }
  }
}
