$mobile-width: 767px;
$tablet-width: 1140px;
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;
$pale-black: rgba(27, 26, 23, 0.82);
$black: #1b1a17;
$beige: #d4b098;
$grey-dark: #444240;
$grey-light: #636261;
