<!-- Breadcrumbs -->
<nav class="site-content__breadcrumbs breadcrumbs" aria-label="breadcrumbs">
  <div class="breadcrumbs__wrap">
    <ol class="breadcrumbs__list">
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Главная</a>
        <span class="breadcrumbs__separator"></span>
      </li>
      <li class="breadcrumbs__item">
        <a href="#" class="breadcrumbs__link">Каталог</a>
        <span class="breadcrumbs__separator"></span>
      </li>
      <li class="breadcrumbs__item">
        <a
          href="#"
          class="breadcrumbs__link breadcrumbs__link--active"
          aria-current="location"
        >Мужские часы</a>
      </li>
    </ol>
  </div>
</nav>
