<label class="check">
  <input class="check__input" type="checkbox" name="checkbox-default">
  <span class="check__body"></span>
  Первый
</label>
<label class="check">
  <input class="check__input" type="checkbox" name="checkbox-default" checked>
  <span class="check__body"></span>
  Второй
</label>
<label class="check">
  <input class="check__input" type="checkbox" name="checkbox-default" disabled>
  <span class="check__body"></span>
  Третий
</label>
<label class="check">
  <input
    class="check__input"
    type="checkbox"
    name="checkbox-default"
    checked
    disabled
  >
  <span class="check__body"></span>
  Четвертый
</label>
