<!-- Modal favorites -->
<section class="favorites">
  <h2 class="favorites__title">Избранное</h2>
  <p class="favorites__tip">
    В избранном пока нет товаров
  </p>
  <ul class="favorites__list">
  </ul>


  <!-- Favorite item template -->
  <template id="favorites-item">
    <li class="favorites__item">
      <h3 class="favorites__name"></h3>
      <p class="favorites__price"></p>
      <picture class="favorites__media"></picture>
      <button type="button" id="delete-btn" class="favorites__delete close-btn" aria-label="Удалить из избранного">
      </button>
    </li>
  </template>
  <input type="number" id="favorites-counter" class="visually-hidden" aria-hidden="true" value="0">
</section>

