<footer class="page-footer">
  <div class="page-footer__wrap">
    <div class="page-footer__inner">
      <a href="index.html" class="page-footer__logo-link">
        <object
          data="img/svg/logo-footer.svg"
          class="page-footer__logo-body"
          type="image/svg+xml"
          width="130"
          height="34"
        >
          <span class="visually-hidden">Логотип conquest</span>
        </object>
      </a>
      <a class="page-footer__link page-footer__contact" href="tel:+74994504797">8 (499) 450-47-97</a>
      <a
        class="page-footer__link page-footer__contact"
        href="mailto:info@conquest.watch.ru"
      >info@conquest.watch.ru</a>
    </div>

    <!-- Footer menu -->
    <nav class="page-footer__menu">
      <!-- About -->
      <div
        class="accordion page-footer__container page-footer__container--about"
      >
        <h3 class="page-footer__title">
          <button
            id="accordion-header-1"
            class="accordion__button accordion__button--footer"
            aria-controls="accordion-panel-1"
            data-accordion-header
          >О компании</button>
        </h3>
        <ul
          id="accordion-panel-1"
          class="page-footer__list accordion__panel accordion__panel--footer"
          aria-labelledby="accordion-header-1"
        >
          <!-- Item-1 -->
          <li class="page-footer__item">
            <a
              class="page-footer__link"
              href="#"
              aria-label="Наши магазины"
            >Наши магазины</a>
          </li>
          <li class="page-footer__item">
            <!-- Item-2 -->
            <a class="page-footer__link" href="#" aria-label="Вакансии">Вакансии</a>
          </li>
          <li class="page-footer__item">
            <!-- Item-3 -->
            <a
              class="page-footer__link"
              href="#"
              aria-label="Сертификаты"
            >Сертификаты</a>
          </li>
          <li class="page-footer__item">
            <!-- Item-4 -->
            <a class="page-footer__link" href="#" aria-label="Отзывы">Отзывы</a>
          </li>
        </ul>
      </div>
      <!-- To buyers -->
      <div
        class="accordion page-footer__container page-footer__container--to-buyers"
      >
        <h3 class="page-footer__title">
          <button
            id="accordion-header-2"
            class="accordion__button accordion__button--footer"
            aria-controls="accordion-panel-2"
            data-accordion-header
          >Покупателям</button>
        </h3>
        <ul
          id="accordion-panel-2"
          class="page-footer__list accordion__panel accordion__panel--footer"
          aria-labelledby="accordion-header-2"
        >
          <li class="page-footer__item">
            <!-- Item-1 -->
            <a
              class="page-footer__link"
              href="#"
              aria-label="Каталог товаров"
            >Каталог товаров</a>
          </li>
          <li class="page-footer__item">
            <!-- Item-2 -->
            <a
              class="page-footer__link"
              href="#"
              aria-label="Как заказать?"
            >Как заказать?</a>
          </li>
          <li class="page-footer__item">
            <!-- Item-3 -->
            <a class="page-footer__link" href="#" aria-label="FAQ">FAQ</a>
          </li>
          <li class="page-footer__item">
            <!-- Item-4 -->
            <a
              class="page-footer__link"
              href="#"
              aria-label="Корпоративным клиентам"
            >Корпоративным клиентам</a>
          </li>
        </ul>
      </div>
      <!-- Delivery -->
      <div
        class="accordion page-footer__container page-footer__container--delivery"
      >
        <h3 class="page-footer__title">
          <button
            id="accordion-header-3"
            class="accordion__button accordion__button--footer"
            aria-controls="accordion-panel-3"
            data-accordion-header
          >Оплата и доставка</button>
        </h3>
        <ul
          id="accordion-panel-3"
          class="page-footer__list accordion__panel accordion__panel--footer"
          aria-labelledby="accordion-header-3"
        >
          <li class="page-footer__item">
            <!-- Item-1 -->
            <a
              class="page-footer__link"
              href="#"
              aria-label="Способы оплаты"
            >Способы оплаты</a>
          </li>
          <li class="page-footer__item">
            <!-- Item-2 -->
            <a
              class="page-footer__link"
              href="#"
              aria-label="Время доставки"
            >Время доставки</a>
          </li>
          <li class="page-footer__item">
            <!-- Item-3 -->
            <a
              class="page-footer__link"
              href="#"
              aria-label="Гарантии и ремонт"
            >Гарантии и ремонт</a>
          </li>
          <li class="page-footer__item">
            <!-- Item-4 -->
            <a
              class="page-footer__link"
              href="#"
              aria-label="Возврат и компенсация"
            >Возврат и компенсация</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</footer>
