<!-- Menu -->
<nav id="menu" class="page-header__menu menu">
  <div class="menu__wrap">
    <button
      type="button"
      class="menu__btn hamburger-btn"
      aria-label="Открыть меню"
      aria-expanded="false"
    >
      <span class="hamburger-btn__body"></span>
    </button>
    <ul id="menu-list" class="menu__list">
      <!-- Item 1 -->
      <li class="menu__item">
        <a class="menu__page-link" href="catalog.html" aria-label="Каталог">Каталог</a>
      </li>
      <!-- Item 2 -->
      <li class="menu__item">
        <a class="menu__page-link" href="#" aria-label="Акции">Акции</a>
      </li>
      <!-- Item 3 -->
      <li class="menu__item">
        <a class="menu__page-link" href="#" aria-label="Доставка">Доставка</a>
      </li>
      <!-- Item 4 -->
      <li class="menu__item">
        <a class="menu__page-link" href="#" aria-label="Контакты">Контакты</a>
      </li>
    </ul>
  </div>
</nav>
