<nav class="catalog__pagination pagination" aria-label="Pagination">
  <button
    type="button"
    class="pagination__btn pagination__btn--disabled pagination__btn--prev"
    aria-label="На предыдущую страницу"
  >
  </button>
  <ul class="pagination__list">
    <li class="pagination__item">
      <a
        class="pagination__link pagination__link--current"
        href="#"
        aria-current="true"
      >1</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">2</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">3</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">...</a>
    </li>
    <li class="pagination__item">
      <a class="pagination__link" href="#">5</a>
    </li>
  </ul>
  <button
    type="button"
    class="pagination__btn pagination__btn--next"
    aria-label="На следующую страницу"
  >
  </button>
</nav>
