<!-- Select -->
<div class="select catalog__select">
  <input
    class="select__field"
    type="hidden"
    name="sort-option"
    aria-hidden="true"
  >
  <button
    id="select-list-control"
    class="select__current catalog__option"
    aria-controls="select-list"
    aria-expanded="false"
    aria-label="популярности"
  >популярности</button>
  <div
    id="select-list"
    class="select__list"
    role="listbox"
    aria-labelledby="select-list-control"
  >
    <button
      class="select__item catalog__option"
      data-value="популярности"
      role="option"
    >популярности</button>
    <button
      class="select__item catalog__option"
      data-value="имени"
      role="option"
    >имени</button>
    <button
      class="select__item catalog__option"
      data-value="цене"
      role="option"
    >цене</button>
  </div>
</div>
