<div class="tabs card__tabs">
  <ul class="tabs__list" role="tablist">
    <li class="tabs__item" role="presentation">
      <a href="#" id="label_id_first" class="tabs__link card__tab-title tabs__link--active" data-tab="id_first"  role="tab" aria-controls="id_first" aria-selected="true">
        Описание
      </a>
    </li>
    <li class="tabs__item" role="presentation">
      <a href="#" id="label_id_second" class="tabs__link card__tab-link" data-tab="id_second" role="tab" aria-controls="id_second">
        Технические характеристики
      </a>
    </li>
  </ul>
  <div class="tabs__content" id="id_first" aria-labelledby="label_id_first">
    <p class="tabs__desc card__about">
      Дизайн часов HyperChrome Automatic Chronograph вдохновлен большим теннисом, а&nbsp;специальные функции оценят как игроки, так и&nbsp;любители игры.
    </p>
  </div>
  <div class="tabs__content" id="id_second" aria-labelledby="label_id_second" aria-hidden="true">
    <dl class="tabs__desc card__specs">
      <dt class="card__term">Механизм:</dt>
      <dd class="card__desc">Автоматический механизм</dd>

      <dt class="card__term">Размер:</dt>
      <dd class="card__desc">45.0 мм</dd>

      <dt class="card__term">Лимитированная серия:</dt>
      <dd class="card__desc">Лимитированная серия 999 экземпляров</dd>

      <dt class="card__term">Общий вес:</dt>
      <dd class="card__desc">111 грамм</dd>
    </dl>
  </div>
</div>
