.accordion__button {
  @include btn-reset;
  text-align: left;

  pointer-events: none;
  outline: none;
}

@media (max-width: 530px) {
  .accordion__button {
    position: relative;

    padding-left: 15%;

    pointer-events: unset;

    transition: $trans;

    &[aria-expanded="true"] {
      &::before,
      &::after {
        position: absolute;
        content: "";
        top: 50%;
        left: 0;

        width: 15px;
        height: 1px;

        background-color: #ffffff;

        transform: translateY(-50%);
        transition: $trans;
      }
    }

    &[aria-expanded="false"] {
      &::before {
        position: absolute;
        content: "";
        top: 50%;
        left: 0;

        width: 15px;
        height: 1px;

        background-color: #ffffff;

        transform: translateY(-50%);
        transition: $trans;
      }

      &::after {
        position: absolute;
        content: "";
        top: 50%;
        left: 0;

        width: 15px;
        height: 1px;

        background-color: rgba(255, 255, 255, 0.75);

        transform: translateY(-50%) rotate(90deg);
        transform-origin: center;
      }
    }

    &:hover,
    &:focus {
      opacity: 0.5;

      &[aria-expanded="true"],
      &[aria-expanded="false"] {
        &::before,
        &::after {
          opacity: 0.7;
        }
      }
    }

    &:active {
      &[aria-expanded="true"],
      &[aria-expanded="false"] {
        &::before,
        &::after {
          opacity: 0.5;
        }
      }
    }
  }

  .accordion__panel {
    padding-left: 15%;
    box-sizing: border-box;
  }
}
